<header>
    <div class="nomPseudoDivHeader">
        <p id="nomPseudoHeader">Maxence Véchambre</p>
    </div>

    <div class="divBoutonsHeader">
        <a href="/#accueil" class="boutonHeader">ACCUEIL</a>
        <a href="/#projets" class="boutonHeader">PROJETS</a>
        <a href="/#experiences" class="boutonHeader">EXPÉRIENCES</a>
        <a href="/#formations" class="boutonHeader">FORMATIONS</a>
    </div>
</header>