<div id="accueil" class="divMoi">
    <img class="imageMoi" src="image/Accueil/moi.webp">
    <div class="divTexteMoi">
        <h1 class="pMoi">MAXENCE VÉCHAMBRE</h1>
        <h3 class="pTaf">Développeur d'application, de jeux vidéo et web | Modeleur, Concepteur et Animateur 3D</h3>
        <p class="pMoi">Féru de cinéma et ayant une bonne culture vidéoludique, la modélisation s’est imposée comme une évidence pour assouvir mon désir de participer à la création de nouveaux univers. Ce que j’aime particulièrement ? L’hyperréalisme. J’essaye de transporter les gens à travers une autre réalité, mon but… qu’ils y croient !
            Pâtissier en herbes, j’applique la même rigueur et créativité à mes projets artistiques qu’ils soient numériques ou à dévorer !
        </p>
    </div>
</div>
<section id="projets">
    <div class="center">
        <p class="pTitreAccueil">MES PROJETS</p>
    </div>
</section>
<div class="divProjet">
    <ul class="ulProjet">
        <a href="/projet/MatinBrun">
            <li id="matin-brun" class="liProjet">
                <p class="projetTitre">Matin Brun le jeu</p>
                <p class="dateProjet">2026</p>
                <p class="descriptionProjets">Il s'agit d'un jeu vidéo reprenant la nouvelle Matin Brun écrit par Frank Pavlov</p>
                <img class="imgProjet" src="image/Accueil/matin-brun.webp">
            </li>
        </a>
        <a href="/projet/VReeducation">
            <li id="vreeducation" class="liProjet">
                <p class="projetTitre">Rééducation en VR d'une héminégligence</p>
                <p class="dateProjet">2026</p>
                <p class="descriptionProjets">Il s'agit d'un logiciel de rééducation en VR et RA pour les personnes atteind d'héminégligence</p>
                <img class="imgProjet" src="image/Accueil/vreeducation.webp">
            </li>
        </a>
        <a href="/projet/HeroForge">
            <li id="hero-forge" class="liProjet">
                <p class="projetTitre">Hero Forge</p>
                <p class="dateProjet">2026</p>
                <p class="descriptionProjets">Il s'agit d'un site web pour créer des personnages et gérer des groupes de jeu pour faire du RPG</p>
                <img class="imgProjet" src="image/Accueil/spirit-game.webp">
            </li>
        </a>
        <a href="/projet/Vapeur">
            <li id="vapeur" class="liProjet">
                <p class="projetTitre">Vapeur</p>
                <p class="dateProjet">2026</p>
                <p class="descriptionProjets">Il s'agit d'un site web ressemblant à Steam</p>
                <img class="imgProjet" src="image/Accueil/vapeur.webp">
            </li>
        </a>
        <a href="/projet/RouagesDuDestin">
            <li id="rouages-destin" class="liProjet">
                <p class="projetTitre">Les Rouages du Destin</p>
                <p class="dateProjet">2025</p>
                <p class="descriptionProjets">Il s'agit d'un jeu vidéo d'enquête prenant place dans le Livradois-Forez</p>
                <img class="imgProjet" src="image/Accueil/rouages-destin.webp">
            </li>
        </a>
        <a  href="/projet/SpiritGame">
            <li id="spirit-game" class="liProjet">
                <p class="projetTitre">Spirit Game</p>
                <p class="dateProjet">En cours</p>
                <p class="descriptionProjets">Il s'agit d'un jeu 2D en cours de production, prenant place dans le royaume Arkean</p>
                <img class="imgProjet" src="image/Accueil/spirit-game.webp">
            </li>
        </a>
    </ul>
</div>
<div id="experiences" class="center">
    <p class="pTitreAccueil">MES EXPÉRIENCES PROFESSIONNELS</p>
</div>
<div class="divExperience">
    <ul class="ulExperience">
        <li class="liExperience">
            <img class="imageExperience" src="image/Accueil/dotiri-2026.webp">
            <div class="divDesciptionExperience">
                <p class="dateExperience">2026 (Stage)</p>
                <p class="titreExperience">Développeur web</p>
                <p class="lieuExperience">Dotiri, Clermont-Ferrand 63000, France</p>
                <p class="tacheExperience">Refonte du site internet de Dotiri, et formation pour que l'entreprise puisse modifier le site plus tard.</p>
            </div>
        </li>
        <li class="liExperience">
            <img class="imageExperience" src="image/Accueil/constellium-2024.webp">
            <div class="divDesciptionExperience">
                <p class="dateExperience">2024 (Job d'été)</p>
                <p class="titreExperience">Administrateur de base de données</p>
                <p class="lieuExperience">Constellium, Issoire 63500, France</p>
                <p class="tacheExperience">Création d’une base de données et administration de cette même base selon un cahier des charges.</p>
            </div>
        </li>
        <li class="liExperience">
            <img class="imageExperience" src="image/Accueil/instantane-2021.webp">
            <div class="divDesciptionExperience">
                <p class="dateExperience">2021 (Stage)</p>
                <p class="titreExperience">Cuisinier / Commis de cuisine</p>
                <p class="lieuExperience">L'Instantané, Clermont-Ferrand 63000, France</p>
                <p class="tacheExperience">Service, mis en vente et élaboration de recettes, dont un dessert, des cookies de ma création.</p>
            </div>
        </li>
    </ul>
</div>
<div id="formations" class="center">
    <p class="pTitreAccueil">FORMATION</p>
</div>
<div class="divFormations">
    <ul class="ulFormations">
        <li class="liFormation">
            <p class="dateFormation">2024 - 2027</p>
            <div class="divTitreFormation">
                <p class="titreFormation">BUT Informatique Graphique</p>
                <p class="pTitreFormation">(Bachelor Universitaire de Techonologie, ancien DUT)</p>
            </div>
            <p class="lieuFormation">I.U.T. Clermont-Auvergne, site du Puy-en-Velay</p>
        </li>
        <li class="liFormation">
            <p class="dateFormation">2024</p>
            <div class="divTitreFormation">
                <p class="titreFormation">Baccalauréat STI2D </p>
                <p class="pTitreFormation">(Sciences et Technologie de l'Industrie et du Développement Durable) option ITEC (Innovation Technologique et Éco-conception)</p>
            </div>
            <p class="lieuFormation">Lycée Lafayette, Clermont-Ferrand</p>
        </li>
    </ul>
</div>