<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Maxence Véchambre</title>
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap" rel="stylesheet">
        <link rel="icon" type="image/ico" href="/image/Accueil/logo.ico">
    </head>

    <body>
        {{> header}}

        <main id="content">
            {{{body}}}
        </main>

        <script src="/script/header.js"></script>
    </body>
</html>