<p class="pTitre">Matin Brun</p>
<p class="pSousTitre">Un jeu vidéo inspiré de la nouvelle Matin Brun</p>
<div class="divDescriptionProjet">
    <img class="imageAccueilProjet" src="/image/Matin Brun/matin-brun.webp"/>
    <p class="textesynopsysProjet">Ce jeu est une reprise de la nouvelle Matin Brun écrit par Frank Pavlov, le joueur prend place dans un appatement dans un État totalitaire. Le gouvernement commence à mettre des lois contre les animaux non-brun, le héros devra donc ce débarasser de son chat, ensuite l'état va interdir les média d'information ayant déjà parlé de chat non-brun, le héros principal laisse faire jusqu'au jour où une loi contre les personnes ayant possédé des animaux non-brun est mis en place, le héros est donc arrêté. Le jeu mets en avant innaction du personnage principal fasse aux lois mise en place et à la montée du régime totalitaire en place.</p>
</div>
<p class="titreContexteProjet">Contexte</p>
<p class="texteContexteProjet">Il s’agit d’un projet réalisé à l’IUT du Puy-en-Velay dans le cadre de ma formation. Nous avions carte blanche pour le scénario et le style, mais le jeu devait être accessible et inclusif. Pour le scénario, nous avons donc choisi de reprendre la nouvelle de Frank Pavlov, Matin Brun, qui nous avait beaucoup marqués en première année de BUT, par les sujets traités et sa moralité, puis nous l’avons adaptée en jeu vidéo inclusif et accessible.</p>
<p class="titreContexteProjet">Déroulé de la production</p>
<div class="divLegendeImage">
    <p class="legende">Frise chronologique de l'avancement du projet</p>
    <img class="imageFriseChronologique" src="/image/Matin Brun/matin-brun-frise-chronologique.webp"/>
</div>
<p class="sousTitreContexteProjet">Réflexion et rédaction du scénario du jeu</p>
<div class="divReflexion">
    <div class="divImageReflexion">
        <div class="divLegendeImage">
            <p class="legende">Image en jeu du camion transportant les animaux non-brun hors de la ville</p>
            <img src="/image/Matin Brun/matin-brun-camion.webp" class="imageReflexion"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image en jeu d'un autodafé</p>
            <img src="/image/Matin Brun/matin-brun-autodafe.webp" class="imageReflexion"/>
        </div>
    </div>
    <div class="divTexteReflexion">
        <p class="explicationDerouleProduction">&ensp; &ensp; La représentation du totalitarisme a été le plus gros sujet, le but a été de représenter parfaitement le manque de diversité et de liberté dû à ce régime.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; La milice est Omni-présente, plus grand monde ne traine dehors que ce soit de jour comme de nuit, un climat de peur est instauré.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Au fur et à mesure du jeu plusieurs lois font leur apparition, d'abord les chats non-brun sont interdits, puis ce sont les médias ne précisant pas brun après l'évocation d'animaux qui sont supprimés, ensuite les livres ne respectant pas la loi d'avant sont brûlés et pour finir les personnes ayant possédé un chat non-brun avant sont arrêté.</p>
    </div>
</div>
<p class="sousTitreContexteProjet">Création de notre cahier des charges et de notre STBL*</p>
<div class="divCahierCharges">
    <div class="divTexteReflexion">
        <p class="explicationDerouleProduction">&ensp; &ensp; La question de l’accessibilité a été la plus importante pour nous, intégrant des commandes simples, des interactions et des tutos assez explicites tout en étant subtils pour pas sortir le joueur de l’immersion.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; On a également pris en compte les différents problèmes de vue notamment les différentes sortes de daltonisme et une police personnalisée, lisible pour tous.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; La rédaction de ce cahier des charges nous a permis de mieux se répartir les tâches, d'avoir une meilleure communication entre nous et de complété l'apprentissage théorique de la création d'un cahier des charges complet, vus en cours</p>
        <p class="asterisqueCahierCharges">STBL* : Spécification Technique de Besoin Logiciel</p>
    </div>
    <div class="divImageCahierCharge">
        <div class="divLegendeImage">
            <p class="legende">Image des paramètres daltoniens en jeu</p>
            <img class="imageReflexion" src="/image/Matin Brun/matin-brun-daltonien.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image des dialogues en jeu avec la police OpenDyslexic</p>
            <img class="imageReflexion" src="/image/Matin Brun/matin-brun-dialogue.webp"/>
        </div>
    </div>
</div>
<p class="sousTitreContexteProjet">Début de la programmation et de la modélisation</p>
<div class="divProgMode">
    <div class="divImageProgMode">
        <div class="divLegendeImage">
            <p class="legende">Image de la modélisation de la boutique du jeu sur blender</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-modelisation.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image de l'unwrap de la boutique du jeu sur blender</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-unwrap.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image depuis l'extérieur de la boutique en jeu</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-boutique-exterieur.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image depuis l'intérieur de la boutique en jeu</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-boutique-exterieur.webp"/>
        </div>
    </div>
    <div class="divTexteReflexion">
        <p class="explicationDerouleProduction">&ensp; &ensp; Je me suis beaucoup occupé de la 3D dans ce projet, j'ai notamment accordé beaucoup d'importance à l'optimisation des assets 3D et des textures</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Vous pouvez voir sur la première image une boutique en 3D que j'ai faite grâce à l'outil Blender, mon but ici a été de faire une boutique réaliste et le plus optimisé possible pour avoir un rendu beaucoup moins lourd</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; J'ai donc commencé par enlever toutes les faces que le joueur ne pouvait pas voir pour alléger un maximum la taille de l'asset, ensuite, vous avez l'image de l'unwrap juste en dessous, l'unwrap servant ensuite à créer la texture de l'objet, l'unwrapé était en 4K (un paramètre en jeu permet de baisser la qualité des textures).</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Cependant, faire une texture par objet dans la boutique revenait à un fichier beaucoup trop lourd à la fin, j'ai donc créé un unwrap de toute la boutique, mettant à différents degrés d'importance les faces ayant le besoin d'être plus ou moins détaillées, le résultat est que nous avons 1 texture pour une trentaine d'assets différents au lieu d'avoir une trentaine de textures pour chaque objet.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Pour faire la texture par la suite, j'ai utilisé Substance 3D Painter, un de ses nombreux outils s'appelle bake, grâce à cet outil, j'ai pu séparer les faces sur l'unwrap fait juste avant grâce à un ID pour les différents groupes de faces que j'avais créés préalablement sur Blender.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Cela m'a permis de créer une texture 4K contenant elle-même plusieurs morceaux de texture pour les différentes faces de l'unwrap.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Vous pouvez voir sur les deux dernières images le résultat de la boutique avec les textures appliquées</p>
    </div>
</div>
<p class="sousTitreContexteProjet">Optimisation et ajout de nouveaux éléments au jeu</p>
<div class="divOpti">
    <div class="divTexteReflexion">
        <p class="explicationDerouleProduction">&ensp; &ensp; Pour la suite du projet, j'ai continué d'optimiser les différentes textures et assets 3D, et j'ai fait une retopologie de la ville, modifiant les bâtiments, les rues, l'éclairage et les arbres.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; L'ancienne ville que vous pouvez observer du dessus sur la première image était beaucoup trop petite, cette fois si la nouvelle ville nous a permis d'éloigner les différentes étapes de l'histoire de l'appartement principal.</p>
        <p class="explicationDerouleProduction">&ensp; &ensp; Le problème, c'est que la ville était devenu trop grande, nous avons donc modélisé une Pontiac GTO que vous pouvez observer sur la deuxième image, le joueur peut donc explorer la ville plus facilement étant donné de la grandeur de celle-ci maintenant.</p>
    </div>
    <div class="divImageOpti">
        <div class="divLegendeImage">
            <p class="legende">Image vue du dessus de l'ancienne ville sur Unity</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-ville-ancienne.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image vue du dessus de la nouvelle ville sur Unity</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-ville-nouvelle.webp"/>
        </div>
        <div class="divLegendeImage">
            <p class="legende">Image de la Pontiac GTO en jeu</p>
            <img class="imageProgMode" src="/image/Matin Brun/matin-brun-voiture.webp"/>
        </div>
    </div>
</div>
<p class="conclusion">Ce projet m'a permis de renforcer mon choix de PPP qui s'oriente de plus en plus vers la 3D et l'art de manière général, avant cette année, nous avions fait un autre jeu vidéo, mais en groupe de 8 cette fois-ci, le fait que cette année, nous n'étions que 4 m'a obligé à prendre plus de responsabilité notamment sur la direction artistique et la 3D. <br> <br> Pour ce qui est de l'optimisation, j'ai pu mettre en pratique les cours sur la 3D que j'ai eu dans la formation et j'ai pu aussi les compléter dans ce projet qui été plus concret et qui contenait certaines exceptions ce qui m'a permis d'apprendre à m'adapter plus facilement aux problèmes plus complexes de la 3D ou du texturing.</p>
<a class="lienProjet" href="https://gitlab-lepuy.iut.uca.fr/axlardon/MatinBrun">Voir le projet sur GitLab</a>
